body {
	width: 900px;
	margin: 1em auto;
	font-family: 'Comic Sans MS', sans-serif;
	font-size: 1em;
	text-align: center;
	background-color: yellow;
	color: #000;
}

h1 {
	font-size: 5em;
	color: red;
}
